// start---scss全局变量
$u-color-bg-main: #ee2e23;
$u-color-bg-sub: #ff4b40;
$u-color-text-main: #313131;
$u-color-text-sub: #bfbfbf;
$u-color-text-tips: #d2d2d2;
$u-color-text-divider: #eeeeee;
// end---scss全局变量

// start---scss字体
$u-font-alibaba: "Alibaba-PuHuiTi-Regular";
// end---scss字体